<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        </thead>
        <th:block th:each="user : ${allUsers}">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td>
                    <span th:each="j : ${user.roles}">
                        <span th:text="${j.name}"></span>
                    </span>
                </td>

                <td>
                    <form th:action="@{/admin}" th:method="DELETE">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <input type="hidden" name="action" value="delete"/>
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/admin/{id}/edit(id=${user.id})}" th:method="GET">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <input type="hidden" name="action" value="update"/>
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
        </th:block>
    </table>

    <hr>
    <a href="/registration">Зарегистрировать</a>
    <hr>
    <a href="/logout">Выход</a>
    <a href="/">Главная</a>
</div>
</body>
</html>