<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/registration}" th:object="${userForm}">
        <label for="firstName">first name: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Username Error</div>
        <br/>
        <label for="lastName">last name: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Username Error</div>
        <br/>
        <label for="age">age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Username Error</div>
        <br/>
        <label for="username">username: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
        <br/>
        <label for="password">password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <div style="color:red" th:if="${password}" th:text="${passwordError}">Password Error</div>
        <br/>
        <label for="role">roles: </label>
        <br/>
        <select th:field="*{roles}" id="role" multiple>
            <option th:value="1" th:text="user"></option>
            <option th:value="2" th:text="admin"></option>
        </select>
        <br/>
        <input type="submit" value="Create"/>
    </form>
    <hr>
    <a href="/logout">Выход</a>
    <a href="/">Главная</a>
</div>
</body>
</html>